/* 	&.anim {
	ul {
		@include anim(count,ease,1.2s);
	}
}

@include keyframes('count') {
from { @include translateY(0px);} 
to { @include translateY(-203px);}
  } */

h2 {
	color: $black;
	font-weight: 300;
	font-size: 34px;
	line-height: 44px;
	text-align: center;
}

h3 {
	font-size: 16px;
	line-height: 24px;
	color: $black;
	font-weight: 700;  
}

h4 {
	color: $green;
}

section {
	position: relative;
}

#top {
	height: 770px;
	background: url('../images/top-bg.jpg') left top;

	h2 {
		margin-top: 100px;
		margin-bottom: 10px;
	}

	h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		text-align: center;
		margin-bottom: 30px;
	}
}

.icon-logo {
	margin: 68px auto 0 auto;
	display: block;
	position: relative;

	span {
		background-color: #fff;
		height: 28px;
		line-height: 28px;
		padding: 0 10px 0 30px;
		font-size: 12px;
		font-weight: 700;
		position: absolute;
		left: 134px;
		top: -44px;
		color: $grey;
		white-space: nowrap;
		display: none;


		i {
			display: block;
			position: absolute;
			top: 5px;
			left: 10px;
		}

		&:before {
			@include cont;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;		
			border-top: 8px solid #fff;
			position: absolute;
			bottom: -8px;
			left: 10px; 
		}
	}

	&:hover {
		span {
			display: block;
		}
	}
}

.promo {
	background-color: #fff;
	width: 770px;
	height: 130px;
	margin: 0 0 0 200px;

	.promo-inner {
		width: 770px;
		height: 130px;
		display: table-cell;
		vertical-align: middle;
	}	
}

.icon-spec {
	margin: 0 55px;
}

.promo-info {
	display: inline-block;
	position: relative;
	top: -18px;
}

.promo-h {
	color: #616263;
	margin-bottom: 7px;
}

.promo-price {
	font-size: 24px;
	line-height: 28px;

	span {
		margin-right: 3px;
	}
}

.p1 {
	font-weight: 700;
	color: #ff7a0e;
}

.p2 {
	color: $black;
	font-weight: 700;
}

.p3 {
	color: $black;
	font-weight: 300;
}
