/* 	&.anim {
	ul {
		@include anim(count,ease,1.2s);
	}
}

@include keyframes('count') {
from { @include translateY(0px);} 
to { @include translateY(-203px);}
  } */

h2 {
	color: $black;
	font-weight: 300;
	font-size: 34px;
	line-height: 44px;
	text-align: center;
}

h3 {
	font-size: 16px;
	line-height: 24px;
	color: $black;
	font-weight: 700;  
}

h4 {
	color: $green;
	text-align: center;
	margin-top: 5px;
}

section {
	position: relative;
}

#top {
	.container {
		padding: 0 0 27px 0;
	}

	h2 {
		margin-top: 100px;
		margin-bottom: 10px;
	}

	h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		text-align: center;
		margin-bottom: 30px;
	}

	.btn {
		margin: 0 auto 3px auto;
	}
}

.icon-logo {
	margin: 68px auto 0 auto;
	display: block;
	position: relative;

	span {
		background-color: #fff;
		height: 28px;
		line-height: 28px;
		padding: 0 10px 0 30px;
		font-size: 12px;
		font-weight: 700;
		position: absolute;
		left: 134px;
		top: -44px;
		color: $grey;
		white-space: nowrap;
		display: none;


		i {
			display: block;
			position: absolute;
			top: 5px;
			left: 10px;
		}

		&:before {
			@include cont;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;		
			border-top: 8px solid #fff;
			position: absolute;
			bottom: -8px;
			left: 10px; 
		}
	}

	&:hover {
		span {
			display: block;
		}
	}
}

.promo {
	background-color: #fff;
	width: 770px;
	height: 130px;
	margin: 0 0 27px 200px;

	.promo-inner {
		width: 770px;
		height: 130px;
		display: table-cell;
		vertical-align: middle;
	}	
}

.icon-spec {
	margin: 0 55px;
}

.promo-info {
	display: inline-block;
	position: relative;
	top: -18px;
}

.promo-h {
	color: #616263;
	margin-bottom: 7px;
}

.promo-price {
	font-size: 24px;
	line-height: 28px;

	span {
		margin-right: 3px;
	}
}

.p1 {
	font-weight: 700;
	color: #ff7a0e;
}

.p2 {
	color: $black;
	font-weight: 700;
}

.p3 {
	color: $black;
	font-weight: 300;
}

.btn {
	display: block;
	width: 260px;
	height: 50px;
	background-color: $green;
	border-radius: 10px;
	line-height: 48px;
	text-align: center;
	font-weight: 700;
	color: #fff;
	@include ts;

	&:hover {
		background-color: #454545;
	}
}

// spec section

#spec {
	.container {
		padding: 58px 0 106px 0;
	}
}

.spec {
	display: block;
	margin: 50px auto 30px auto;
}

.spec-info {
	position: relative;
	background-color: #f8f8f8;
	@include box;
	padding: 30px 27px 0 27px;
	min-height: 247px;
	border-bottom: 3px solid #f8f8f8;
	@include ts;

	h3 {
		min-height: 55px;
	}

	&:before {
		@include cont;
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 10px solid #f8f8f8;
		left: 50%;
		top: -10px;
		margin-left: -5px;
	}
}

.spec-links {
	position: relative;

	&:before {
		@include cont;
		height: 3px;
		width: 800px;
		background-color: $e;
		top: 133px;
		left: 50%;
		margin-left: -400px;
		z-index: -1;
	}

	a p{
		color: $grey;
	}

	.span4:hover {
		.spec-info {
			border-bottom: 3px solid $green;
		}
		
	} 
}

.spec1:hover {
	.icon-spec1 {
		@include sprite($icon, icon-spec1-hover);
	}
}

.spec2:hover {
	.icon-spec2 {
		@include sprite($icon, icon-spec2-hover);
	}
}

.spec3:hover {
	.icon-spec3 {
		@include sprite($icon, icon-spec3-hover);
	}
}

// info

#info {
	height: 417px;
	background: #fff url('../images/bg2.jpg') center top no-repeat;
	position: relative;

	h2 {
		text-align: left;
		margin-bottom: 34px;
	}
}

.right-info {
	position: absolute;
	left: 50%;
	top: 100px;
	opacity: 0;
	@include translateX(30px);
	@include ts(ease,0.7s,0.3s);

	&.anim {
		opacity: 1;
		@include translateX(0px);
	}
}

.phone {
	background-color: #fff;
	width: 240px;
	height: 72px;
	line-height: 72px;
	@include box;
	position: relative;
	padding-left: 71px;
	float: left;
	margin-right: 10px;

	i {
		position: absolute;
		left: 30px;
		top: 22px;
	}

	span {
		font-weight: 700;
		color: $black;
	}
}

.email {
	background-color: #fff;
	width: 240px;
	height: 72px;
	line-height: 72px;
	@include box;
	position: relative;
	padding-left: 79px;
	float: left;

	i {
		position: absolute;
		left: 29px;
		top: 27px;
	}

	span {
		font-weight: 700;
		color: $black;
	}
}

// advantages

#advantage1 {
	.container {
		padding: 80px 0 0 0;
	}
}

.img1 {
	margin-left: 85px;

	img {
		vertical-align: bottom;
	}
}

.benefit1 {
	margin-top: 80px;

	h3 {
		margin-top: 108px;
		margin-bottom: 20px;
	}

	.b1 {
		opacity: 0;
		@include translateX(-30px);
		@include ts(ease,0.7s,0.3s);
	}

	.b2 {
		opacity: 0;
		@include translateX(30px);
		@include ts(ease,0.7s,0.7s);
	}

	&.anim {
		.b1 {
			opacity: 1;
			@include translateX(0px);			
		}

		.b2 {
			opacity: 1;
			@include translateX(0px);			
		}
	}
}


#advantage2 {
	background: url('../images/pattern.jpg');

	.container {
		padding: 56px 0 55px 0;
	}
}

.img2 {
	margin-left: 32px;
}

.benefit2 {

	.b1 {
		opacity: 0;
		@include translateX(30px);
		@include ts(ease,0.7s,0.3s);
	}

	.b2 {
		opacity: 0;
		@include translateX(-30px);
		@include ts(ease,0.7s,0.7s);
	}

	&.anim {
		.b1 {
			opacity: 1;
			@include translateX(0px);			
		}

		.b2 {
			opacity: 1;
			@include translateX(0px);			
		}
	}

	h3, p {
		text-align: right;
	}

	h3 {
		margin-top: 91px;
		margin-bottom: 20px;
	}
}

.img3 {
	position: relative;

	img {
		position: absolute;
		vertical-align: bottom;
		left: -115px;
		top: -80px;
	}
}

.benefit3 {
	.b1 {
		opacity: 0;
		@include translateX(-30px);
		@include ts(ease,0.7s,0.3s);
	}

	.b2 {
		opacity: 0;
		@include translateX(30px);
		@include ts(ease,0.7s,0.7s);
	}

	&.anim {
		.b1 {
			opacity: 1;
			@include translateX(0px);			
		}

		.b2 {
			opacity: 1;
			@include translateX(0px);			
		}
	}

	h3 {
		margin-top: 80px;
		margin-bottom: 52px;
	}

	.b1 {
		position: relative;
		z-index: 2;
	}
}

#advantage3 {
	.container {
		padding: 80px 0 160px 0;
	}
}

#conditions {
	background: url('../images/pattern.jpg');

	.container {
		padding: 45px 0 58px 0;
	}

	.btn {
		margin: 0 auto;
	}	
}

.tax {
	width: 430px;
	height: 344px;
	background-color: #fff;
	float: right;
	margin-top: 40px;

	&.tax-left {
		float: left;
	}
}

.tax-h {
	font-weight: 300;
	text-align: center;
	height: 72px;
	line-height: 72px;
	font-size: 34px;
	color: #fff;
	background-color: #5c5c5c;
}

.prof-h {
	font-weight: 300;
	margin-top: 10px;
	height: 16px;
	margin-bottom: 15px;
	color: $green;
	text-align: center;
}

.prof {
	font-weight: 700;
	margin-bottom: 2px;
	color: $black;
	text-align: center;
}

.status {
	font-weight: 300;
	margin-bottom: 30px;
	text-align: center;
}

.payment {
	font-weight: 700;
	color: $black;
	margin-bottom: 35px;
	text-align: center;
	font-size: 24px;

	span {
		color: #ff7a0e;
	}
}

#info2 {
	background: url('../images/pattern2.jpg');
	height: 160px;	
}

.info2-left {
	width: 680px;
	float: left;
	padding-top: 35px;

	h2 {
		color: #fff;
		text-align: left;
	}
}

.phone2 {
	background-color: #4d484f;
	width: 240px;
	height: 72px;
	line-height: 72px;
	@include box;
	position: relative;
	padding-left: 71px;
	float: left;
	margin-right: 10px;

	i {
		position: absolute;
		left: 30px;
		top: 22px;
	}

	span {
		font-weight: 700;
		color: #fff;
	}
}

.email2 {
	background-color: #4d484f;
	width: 240px;
	height: 72px;
	line-height: 72px;
	@include box;
	position: relative;
	padding-left: 79px;
	float: left;

	i {
		position: absolute;
		left: 29px;
		top: 27px;
	}

	span {
		font-weight: 700;
		color: #fff;
	}
}

.info2-right {
	float: left;
	padding-top: 45px;
}

#clients {
	background: url('../images/pattern.jpg');

	.container {
		padding: 56px 0 40px 0;
	}
}

// Slider
//--------------------------------------

.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}


.slider{
	width: 100%;
	height: 194px;
	margin-bottom: 60px;
	margin-top: 62px;

	.swiper-slide {
		height: 194px;
		width: 300px;

		a {
			display: block;
			position: relative;
			height: 194px;
			width: 270px;
			overflow: hidden;
			margin: 0 15px;

			&:hover {
				.company {
					background: rgba(255,255,255,1);
				}
			}
		}
	}
}

.img-wrap {
	display: table-cell;
	text-align: center;
	width: 270px;
	height: 114px;
	background-color: #fff;
	vertical-align: middle;

	img {
		max-height: 114px;
		vertical-align: middle;
	}
}

.slider-arrows {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	@include tsp(color,ease-in-out,0.2s);

	&.slider-left {
		margin-left: 13px;
		i {
			@include sprite($icon, icon-left);
		}
	}

	&.slider-right {
		margin-left: 30px;
		i {
			@include sprite($icon, icon-right);		
		}
	}

	&:hover {

		&.slider-left {
			i {
				@include sprite($icon, icon-left-hover);
			}
		}

		&.slider-right {
			i {
				@include sprite($icon, icon-right-hover);				
			}
		}		
	}	
}

.company {
	margin-top: 2px;
	height: 77px;
	background: rgba(255,255,255,0.4);
	display: block;
	color: $black;
	@include ts;
}

.company-name {
	margin-bottom: 1px;
	padding-top: 11px;
	display: block;
	text-align: center;
}

.company-city {
	font-weight: 700;
	display: block;
	text-align: center;
}

#info3 {
	height: 420px;
	background: url('../images/pattern2.jpg');

	.container {
		padding: 52px 0 0 0;
	}

	h2 {
		color: #fff;
	}

	.btn {
		margin: 0 auto;
	}	
}

.link-us {
	color: #fff;
	text-align: center;
	margin-top: 23px;
	margin-bottom: 21px;
}

.info3-cont {
	padding-left: 338px;
	margin-bottom: 28px;

	.phone2, .email2 {
		background: rgba(59,55,59,0.5);
	}
}

.icon-logo2 {
	margin: 0 auto;
	display: block;
	position: relative;

	span {
		background-color: #fff;
		height: 28px;
		line-height: 28px;
		padding: 0 10px 0 30px;
		font-size: 12px;
		font-weight: 700;
		position: absolute;
		left: 134px;
		top: -44px;
		color: $grey;
		white-space: nowrap;
		display: none;


		i {
			display: block;
			position: absolute;
			top: 5px;
			left: 10px;
		}

		&:before {
			@include cont;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;		
			border-top: 8px solid #fff;
			position: absolute;
			bottom: -8px;
			left: 10px; 
		}
	}

	&:hover {
		span {
			display: block;
		}
	}
}

footer {
	height: 190px;
	background: url('../images/pattern2.jpg');
}

.footer {
	background: rgba(59,55,59,0.29);
	height: 140px;
	padding-top: 50px;
}

// form

body.form {
	background-color: #D0D0D0;
	background-image: url('../images/bg3.jpg');
}

#form {
	h3, p {
		text-align: center;
	}

	h3 {
		margin-bottom: 20px;
		margin-top: 40px;
	}

	@include placeholder($grey);

	input {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 24px;
		background-color: #fff;
		padding: 14px 10px 14px 20px;
		width: 100%;
		margin-bottom: 20px;
		height: 52px;
		outline: none;
		border: 2px solid #fff;
		color: $grey;
		@include ts;
		@include box;

		&:focus {
			border: 2px solid #fff;
		}
	}

	textarea {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 24px;
		background-color: #fff;
		padding: 8px 9px;
		width: 100%;
		height: 80px;
		margin-bottom: 20px;
		outline: none;
		border: 2px solid #fff;
		@include ts;
		@include box;
		resize: none;
		color: $grey;

		&:focus {
			border: 2px solid #fff;
		}		
	}

	input:hover::-webkit-input-placeholder {
	     color: $green;
	}

	input:hover:-moz-placeholder {
	      color: $green;
	}


	input:hover:-ms-input-placeholder {  
	      color: $green;
	}

	textarea, input {
		&.error {
			border: 2px solid #ebb1a7;
			color: #ebb1a7;		
		}
	}

	.btn {
		margin: 20px auto 0 auto;
	}
}

.span-form {
	padding-top: 55px;
	padding-bottom: 44px;
}

.thanks {
	display: none;
}

.thanks-h {
	color: $black;
	font-weight: 300;
	font-size: 80px;
	line-height: 84px;
	text-align: center;
	margin-bottom: 30px;
}

.thanks-h2 {
	color: $green;
	text-align: center;
	margin-top: 5px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 16px;
}

#form .thanks {
	padding-top: 160px;

	.btn {
		margin: 50px auto 40px auto;
		width: 262px;
	}
}